<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <div class = "container">
	<div class="wrapper">
		<form name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Admin Log In</h3>
			  <hr class="colorgraph"><br>
			  
              <input type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username" placeholder="Enter Your Username" />
              <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password" placeholder="Enter Your Password" />
			 
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="submit" (click)="login()" >Login</button> 
              <br> 		
              <p>Don't have an account? <a routerLink='/register'>Click here to register</a></p>	
		</form>		
	</div>
</div>


<!-- 
<form>
    <img src="./assets/images/logo2.png" alt="My logo image" class="my-logo" style="width: 85px;height: 85px;"/> <br> <br> 
    <h2>Login</h2> <br>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password" />
    </div> <br/>
    <button type="submit" class="btn btn-secondary" (click)="login()">Login</button>
</form>
    -->